body {
    padding-top: 5rem;
}
ul{
    display: grid;
    grid-template-columns: 350px 350px 350px;
    grid-template-rows: 350px 350px;
}
.photos{
    padding: 5px;
}
.pictures{
    width: 300px;
    height: 300px;
}